.selector-for-some-widget {
  box-sizing: content-box;
}

.col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.team-container {
  padding-top: 15px
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}